@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

.attribution { font-size: 11px; text-align: center; color: var(--White); }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    color: var(--White);
    font-family: Inter;
}
:root{
    /* Primary*/
    --Verydarkblue: hsl(233, 47%, 7%);/*msin background*/
    --Darkdesaturatedblue: hsl(244, 38%, 16%);/*card background*/
    --Softviolet: hsl(277, 64%, 61%);/*accent*/
    /* Neutral*/
    --White: hsl(0, 0%, 100%);/*main heading, stats*/
    c : hsla(0, 0%, 100%, 0.75);/*main paragraph*/
    --Slightlytransparentwhite : hsla(0, 0%, 100%, 0.6);/*stat headings*/
}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/
    border-radius: 0 10px 10px 0;
}
body{
    background-color:var(--Verydarkblue);
    display: flex;
    justify-content: center;   
    margin-top: 150px; 
}
ul{
    list-style: none;
    display: flex;
    /*margin-top: 50px;
    display:grid;
    align-content: center;*/   
}
ul li{
    color: var(--Slightlytransparentwhite);
    flex-direction: column;
    margin-top: 15px;
    align-content: space-between;
}
h1{font-size: 1.8rem;}
p{
    margin-top: 20px;
    line-height: 2; /*NEVER use px for line height OR FONT*/
    width:350px;
    font-size:0.9rem;/*always use this measurement for fonts*/
    color: var(--Slightlytransparentwhite);
}
span{
    display: block; 
}
.card{
    max-width: 500px;
    background-color: var(--Darkdesaturatedblue);
    color:var(--Verydarkblue);
    padding:40px;
    border-radius: 10px 0 0 10px;   
}
.highlight{
    color:var(--Softviolet);
}
